* {
    margin: 0 auto;
}
 
body {
        background-color: #3a839a;
}
ul {
    margin-top: -15px;
}

.fullwrap {
    width: 600px;
    background: white;
    margin: 15px;
	height: 100%;
}
.header {
    width: 580px;
}
.wrap {
    width: 540px;
    margin-top: 10px;
}

 
.center {
    text-align: center;
}
 
.service {
    width: 250px;
    float: left;
    margin: 0 10px 0 0;
}
 
.service_image {
    width: 250px;
    height: 200px;
}

.footer {
    width: 580px;
    height: 160px;
    background: #3a839a; 
    color: #fff;
    text-align: center;
    margin:10px 10px;
}
 
.footer a {
    font-weight: bold;
	color: #fff;
}
#linkcolor {
	color: #0f61c9;
}

.footer p {
    margin:0;
}

.footer img {
    width:40px;
    height:40px;
    margin:10px 5px;
}
.content{
	margin: 0 50px;
}
button {
    width: 515px;
    height:40px;
    background: #d65c4a;
    border-radius: 10px;
    border:  none;
    color: white;
    margin: 5px 0 5px;
}

.service button {
    width: 250px;
    height:40px;
    background: #d65c4a;
    border-radius: 10px;
    margin:5px 0 10px;
}

.clear {
    clear:both;
}